@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: auto;
}

.bg-main-gradient {
  background: linear-gradient(to right, #000000, #3533cd);
}

.btnNav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100.1%;
  z-index: 50;
}

.active-page {
  color: #ffbd59;
}

.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp-count, 8);
  line-clamp: var(--line-clamp-count, 8);
}

/* Các class biến thể chỉ để gán giá trị */
.limit-line-1 { --line-clamp-count: 1; }
.limit-line-2 { --line-clamp-count: 2; }
.limit-line-3 { --line-clamp-count: 3; }
.limit-line-4 { --line-clamp-count: 4; }
.limit-line-5 { --line-clamp-count: 5; }
.limit-line-6 { --line-clamp-count: 6; }
.limit-line-7 { --line-clamp-count: 7; }
.limit-line-8 { --line-clamp-count: 8; }


@media screen and (min-width: 768px) {
  html,.btnNav, AnimatePresence{
    margin: auto;
    width: 500px;
  }
  html{
    border: #c2c2c2 2px solid;
  }
}