@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-main-gradient {
  background: linear-gradient(to right, #000000, #3533cd);
}

.btnNav{
  position: fixed;
  bottom: -1;
  left: 0;
  width: 100.1%;
  z-index: 50;
}

.active-page {
  color: #ffbd59;
}

/* .text-header {
  margin-top: -10px;
} */


@media screen and (min-width: 768px) {
  html, .btnNav, AnimatePresence{
    position: fixed;
    left: 35vw;
    width: 500px;
  }
  html{
    border: #c2c2c2 2px solid;
  }
}